
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #f4f4f4; /* optional */
}

button{
  background-color: aquamarine;
  border-radius: 3.5px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(64, 143, 117);
}
button:hover{
  background-color: rgb(196, 255, 235);
  border-color: rgb(196, 255, 235);
}
button:active{
  background-color: rgb(64, 143, 117);
}