{% extends "base.jinja2" %}
{% block content %}
    <h1>Register</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Register">
        <br>
        <p>Already have an account? <a href="/login">Log in.</a></p>
        {% if error %}
            <span style="color: red;">{{ error }}</span>
        {% endif %}
    </form>
{% endblock %}